Repository alexhaydock/NekOS: changes, and which pre-commit hooks are due for each by the changed paths.
All: hadolint, shellcheck

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: hadolint
        name: hadolint
        entry: hadolint
        language: system
        files: Dockerfile

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        files: ^.*\.sh$

Add GitHub Action to build and upload artifacts
  .github/workflows/build.yml
Due: none

Add initial stboot support
  README.md
  build-stboot
  sbkeys/Dockerfile
  stboot/Dockerfile
  stboot/build.sh
  stboot/build/.gitignore
  stboot/keys/.gitignore
  stboot/src/.gitignore
  tests/fw,kernel,initramfs,stboot
  uki/Dockerfile
Due: hadolint, shellcheck

Update buildscripts
  build-all
  build-stboot
  build-uki
Due: none

Skip stboot build on aarch64
  stboot/build.sh
Due: shellcheck

docs
  README.md
Due: none

Move all key generation into keygen step, and update tests
  README.md
  build-all
  firmware/Dockerfile
  firmware/build.sh
  kernel/Dockerfile
  keygen/Dockerfile
  keygen/build.sh
  keygen/keys/.gitignore
  sbkeys/build.sh
  stboot/Dockerfile
  stboot/build.sh
  tests/fw,kernel
  tests/fw,kernel,initramfs
  tests/fw,kernel,initramfs,stboot
  tests/fw,kernel,initramfs,uki
  tests/fw,kernel,initramfs,uki,sb-fail
  tests/fw,kernel,initramfs,uki,sb-pass
  tests/fw,kernel,initramfs,uki,sb-pass,virtio
  tests/kernel
  tests/kernel,initramfs
  tests/kernel,serialonly
  tests/microvm,kernel,initramfs,serialonly
  uki/Dockerfile
  uki/build.sh
  userland/Dockerfile
Due: hadolint, shellcheck

Fix out-of-space errors on GitHub Action runners
  build-all
  firmware/Dockerfile
  firmware/build.sh
  kernel/Dockerfile
  kernel/build.sh
  keygen/Dockerfile
  keygen/build.sh
  stboot/Dockerfile
  stboot/build.sh
  uki/Dockerfile
  uki/build.sh
  userland/Dockerfile
  userland/build.sh
Due: hadolint, shellcheck

Do not clean CI environment between kernel and userland build steps
  build-all
Due: none

Working reproducible fw build heavily inspired by aws/uefi
  firmware-nix/.gitignore
  firmware-nix/build.sh
  firmware-nix/default.nix
  firmware-nix/generate_buildscript_patch.sh
  firmware-nix/patches/0001-add-build-script.patch
  firmware-nix/patches/9001-Remove-Wno-format-compiling-flag-for-Openssl-files.patch
  firmware-nix/result
Due: shellcheck

Fix ignore
  firmware-nix/.gitignore
  firmware-nix/result
Due: none

Whitespace
  firmware-nix/default.nix
Due: none

Work towards BusyBox
  firmware/Dockerfile
  firmware/logo.bmp
  firmware/logo.png
  userland/Dockerfile
Due: hadolint

Finish switch to busybox
  kernel/features.config
  userland/Dockerfile
  userland/build.sh
  userland/init
Due: hadolint, shellcheck

Switch from Toybox to BusyBox for the userland (#8)
  firmware/Dockerfile
  firmware/logo.bmp
  firmware/logo.png
  kernel/features.config
  userland/Dockerfile
  userland/build.sh
  userland/init
Due: hadolint, shellcheck

Add signing for stboot UKI
  README.md
  build-stboot
  build-uki
  keygen/build.sh
  stboot/Dockerfile
  stboot/build.sh
  tests/fw,kernel,initramfs,stboot,sb-pass
  uki/Dockerfile
Due: hadolint, shellcheck

[ci skip] docs
  README.md
Due: none

Working in Nix toolbox
  firmware-nix/build.sh
  firmware-nix/buildscript/build.sh
  firmware-nix/generate_buildscript_patch.sh
  firmware-nix/patches/0001-add-build-script.patch
Due: shellcheck

[ci skip] Bump upstream OVMF version and log to stdout
  firmware-nix/.gitignore
  firmware-nix/build.sh
  firmware-nix/build/.gitignore
  firmware-nix/buildscript/build.sh
  firmware-nix/default.nix
  firmware-nix/patches/0001-add-build-script.patch
  firmware-nix/patches/9001-Remove-Wno-format-compiling-flag-for-Openssl-files.patch
  tests/fw,kernel,initramfs,uki,nix
  tests/fw,kernel,initramfs,uki,sb-fail,nix
Due: shellcheck

[ci skip] Fix OVMF Nix build
  firmware-nix/buildscript/build.sh
  firmware-nix/default.nix
  firmware-nix/patches/0001-add-build-script.patch
  tests/fw,kernel,initramfs,uki,sb-pass,nix
Due: shellcheck

Explore retiring non-Nix fw build
  README.md
  archived/firmware/.gitignore
  archived/firmware/Dockerfile
  archived/firmware/README.md
  archived/firmware/build.sh
  archived/firmware/build/.gitignore
  archived/firmware/keys/.gitignore
  archived/firmware/logo.png
  firmware-nix/.gitignore
  firmware-nix/build.sh
  firmware/.gitignore
  firmware/build.sh
  firmware/buildscript/build.sh
  firmware/default.nix
  firmware/generate_buildscript_patch.sh
  firmware/logo.bmp
  firmware/patches/0001-add-build-script.patch
  tests/fw,kernel,initramfs,uki,sb-fail,nix
  tests/fw,kernel,initramfs,uki,sb-pass,nix
Due: hadolint, shellcheck

[ci skip] repro work
  firmware/buildscript/build.sh
  firmware/patches/0001-add-build-script.patch
Due: shellcheck

[ci skip] repro fix
  firmware/default.nix
  firmware/patches/0001-add-build-script.patch
Due: none

[ci skip] repro build
  archived/firmware/README.md
  build-all
  efivars/Dockerfile
  efivars/build.sh
  efivars/keys/.gitignore
  firmware/build.sh
  tests/fw,kernel
  tests/fw,kernel,initramfs
  tests/fw,kernel,initramfs,stboot
  tests/fw,kernel,initramfs,uki
  tests/fw,kernel,initramfs,uki,sb-fail
  tests/fw,kernel,initramfs,uki,sb-pass
  tests/fw,kernel,initramfs,uki,sb-pass,virtio
Due: hadolint, shellcheck

[ci skip] repro build
  efivars/Dockerfile
Due: hadolint

[ci skip] repro build
  efivars/build/.gitignore
Due: none

[ci skip] repro build
  archived/firmware/keys/.gitignore
Due: none

[ci skip] repro build
  firmware/build.sh
Due: shellcheck

[ci skip]
  firmware/build.sh
Due: shellcheck

[ci skip]
  README.md
  firmware/.gitignore
  firmware/Dockerfile
  firmware/build.sh
  firmware/generate_buildscript_patch.sh
Due: hadolint, shellcheck

[ci skip] aarch64 supp
  firmware/buildscript/build.sh
Due: shellcheck

[ci skip] aarch64 supp
  firmware/buildscript/build.sh
  firmware/default.nix
  tests/fw,kernel,initramfs,uki,nix
Due: shellcheck

[ci skip] aarch64 supp
  firmware/build.sh
Due: shellcheck

Test repro-ability in GH Actions
  firmware/build.sh
Due: shellcheck

[ci skip] docs
  README.md
  firmware/LICENSE
Due: none

[ci skip] repro
  firmware/Dockerfile
  firmware/build.sh
  firmware/entrypoint.sh
Due: hadolint, shellcheck

[ci skip] add checksum
  firmware/build.sh
Due: shellcheck

Add checksum
  firmware/build.sh
Due: shellcheck

[ci skip] add checksum
  firmware/Dockerfile
  firmware/entrypoint.sh
Due: hadolint, shellcheck
