Repository alexhaydock/NekOS: changes, and which pre-commit hooks are due for each by the changed paths.
All: hadolint, shellcheck

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: hadolint
        name: hadolint
        entry: hadolint
        language: system
        files: Dockerfile

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        files: ^.*\.sh$

Ensure Busybox pinned commit is specifically fetched before resetting to it
  userland/Dockerfile
Due: hadolint

Bump swayimg ver
  userland/Dockerfile
Due: hadolint

Update userland output hashes
  tests/hashes.csv
Due: none

Update UKI output hashes
  tests/hashes.csv
Due: none

Fix UKI output hash for aarch64
  tests/hashes.csv
Due: none

Migrate runner to Ubuntu 26.04 and minor buildfixes
  .github/workflows/build.yml
  kernel/flake.nix
  tests/__pycache__/test_hash_firmware.cpython-314-pytest-8.3.5.pyc
  tests/hashes.csv
  userland/Dockerfile
Due: hadolint

Label script sections for CI and run pytest inside Podman
  efivars/build.sh
  firmware/build.sh
  kernel/build.sh
  keygen/build.sh
  stboot/build.sh
  test-all
  uki/build.sh
  userland/build.sh
Due: shellcheck

Label script sections for CI and run pytest inside Podman (#20)
  efivars/build.sh
  firmware/build.sh
  kernel/build.sh
  keygen/build.sh
  stboot/build.sh
  test-all
  uki/build.sh
  userland/build.sh
Due: shellcheck
