Repository alexhaydock/NekOS: changes, and which pre-commit hooks are due for each by the changed paths.
All: hadolint, shellcheck

hadolint:
  name: hadolint
  entry: hadolint
  language: system

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

AArch64 buildfix
  firmware/build.sh
  firmware/buildscript/build.sh
Due: shellcheck

[ci skip] docs
  firmware/build.sh
Due: shellcheck

determinism test
  firmware/build.sh
  firmware/buildscript/build.sh
  firmware/default.nix
Due: shellcheck

[ci skip] docs
  firmware/buildscript/build.sh
Due: shellcheck

[ci skip] docs
  firmware/build.sh
  firmware/buildscript/build.sh
Due: shellcheck

[ci skip] determinism
  firmware/buildscript/build.sh
Due: shellcheck

[ci skip] determinism
  firmware/entrypoint.sh
Due: shellcheck

determinism
  firmware/entrypoint.sh
Due: shellcheck

[ci skip] determinism
  firmware/build.sh
  firmware/default.nix
Due: shellcheck

determinism
  .github/workflows/build.yml
Due: none

determinism
  firmware/build.sh
  firmware/buildscript/build.sh
  firmware/default.nix
Due: shellcheck

[ci skip] determinism
  firmware/patches/.gitignore
  firmware/patches/0001-add-build-script.patch
Due: none

[ci skip] docs
  README.md
Due: none

docs
  README.md
Due: none

Add Nix-based reproducible builds for OVMF firmware (resolves #2) (#9)
  .github/workflows/build.yml
  README.md
  archived/firmware/.gitignore
  archived/firmware/Dockerfile
  archived/firmware/README.md
  archived/firmware/build.sh
  archived/firmware/build/.gitignore
  archived/firmware/logo.png
  build-all
  efivars/Dockerfile
  efivars/build.sh
  efivars/build/.gitignore
  efivars/keys/.gitignore
  firmware/Dockerfile
  firmware/LICENSE
  firmware/build.sh
  firmware/buildscript/build.sh
  firmware/default.nix
  firmware/entrypoint.sh
  firmware/patches/.gitignore
  tests/fw,kernel
  tests/fw,kernel,initramfs
  tests/fw,kernel,initramfs,stboot
  tests/fw,kernel,initramfs,uki
  tests/fw,kernel,initramfs,uki,sb-fail
  tests/fw,kernel,initramfs,uki,sb-pass
  tests/fw,kernel,initramfs,uki,sb-pass,virtio
Due: hadolint, shellcheck

Initial attempt
  kernel/Dockerfile
  kernel/features.config
Due: hadolint

Free up runner space
  .github/util_free_space.sh
  .github/workflows/build.yml
  kernel/Dockerfile
  userland/Dockerfile
Due: hadolint, shellcheck

Free up runner space
  .gh-action-free-space.sh
  .github/workflows/build.yml
Due: shellcheck

Free up runner space
  .github/gh-action-free-space.sh
  .github/workflows/build.yml
Due: shellcheck

Free up runner space
  kernel-nix/default.nix
  kernel/Dockerfile
  kernel/features.config
Due: hadolint

Attempted build
  .github/podman-move-storage.sh
  .github/workflows/build.yml
  kernel/Dockerfile
  kernel/build.sh
  userland/Dockerfile
  userland/init
Due: hadolint, shellcheck

Attempted build
  .github/podman-move-storage.sh
Due: shellcheck

Attempted build
  .github/podman-move-storage.sh
  .github/workflows/build.yml
  kernel/Dockerfile
  tests/.archconfig
  tests/fw,kernel
  tests/fw,kernel,initramfs
  tests/fw,kernel,initramfs,stboot
  tests/fw,kernel,initramfs,stboot,sb-pass
  tests/fw,kernel,initramfs,uki
  tests/fw,kernel,initramfs,uki,sb-fail
  tests/fw,kernel,initramfs,uki,sb-pass
  tests/fw,kernel,initramfs,uki,sb-pass,virtio
  tests/kernel
  tests/kernel,initramfs
  tests/kernel,serialonly
  tests/microvm,kernel,initramfs,serialonly
  userland/init
Due: hadolint, shellcheck

Streamlined build
  build-all
  kernel/Dockerfile
Due: hadolint

Nix improvements
  firmware/default.nix
  kernel-nix/Dockerfile
  kernel-nix/build.sh
  kernel-nix/build/.gitignore
  kernel-nix/default.nix
  kernel-nix/entrypoint.sh
  kernel/Dockerfile
Due: hadolint, shellcheck

Nix improvements
  archived/kernel/Dockerfile
  archived/kernel/build.sh
  archived/kernel/build/.gitignore
  firmware/.dockerignore
  firmware/default.nix
  kernel-nix/Dockerfile
  kernel-nix/build.sh
  kernel/.dockerignore
  kernel/Dockerfile
  kernel/build.sh
  kernel/default.nix
  kernel/entrypoint.sh
Due: hadolint, shellcheck

Nix improvements
  firmware/default.nix
Due: none

Nix improvements
  firmware/default.nix
  kernel/default.nix
Due: none

Check hashes of kernel builds
  firmware/build.sh
  kernel/build.sh
Due: shellcheck

Check hashes of kernel builds
  kernel/build.sh
Due: shellcheck

Disable CRYPTO_AEGIS128_SIMD on aarch64
  README.md
  kernel/default.nix
Due: none

Cleanup config opt name invocations in scripts/config
  kernel/default.nix
Due: none

Update x86_64 sha256sum
  kernel/build.sh
  kernel/default.nix
Due: shellcheck

Update x86_64 sha256sum
  kernel/build.sh
Due: shellcheck

Add Nix-based reproducible builds for kernel (resolves #3) (#10)
  .github/gh-action-free-space.sh
  .github/workflows/build.yml
  README.md
  archived/kernel/Dockerfile
  archived/kernel/build.sh
  archived/kernel/build/.gitignore
  build-all
  firmware/.dockerignore
  firmware/Dockerfile
  firmware/build.sh
  firmware/default.nix
  kernel/.dockerignore
  kernel/Dockerfile
  kernel/build.sh
  kernel/default.nix
  kernel/entrypoint.sh
  kernel/features.config
  tests/.archconfig
  tests/fw,kernel
  tests/fw,kernel,initramfs
  tests/fw,kernel,initramfs,stboot
  tests/fw,kernel,initramfs,stboot,sb-pass
  tests/fw,kernel,initramfs,uki
  tests/fw,kernel,initramfs,uki,sb-fail
  tests/fw,kernel,initramfs,uki,sb-pass
  tests/fw,kernel,initramfs,uki,sb-pass,virtio
  tests/kernel
  tests/kernel,initramfs
  tests/kernel,serialonly
  tests/microvm,kernel,initramfs,serialonly
  userland/Dockerfile
  userland/init
Due: hadolint, shellcheck

Add sha256 for aarch64 build
  README.md
  kernel/build.sh
Due: shellcheck

Path conditions:
  hadolint: any of: Dockerfile
  shellcheck: any of: ^.*\.sh$
