Repository alexhaydock/NekOS: changes, and which pre-commit hooks are due for each by the changed paths.
All: hadolint, shellcheck

hadolint:
  name: hadolint
  entry: hadolint
  language: system

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

Add sha256 validation for aarch64 kernel builds
  README.md
  kernel/build.sh
Due: shellcheck

Parallel builds for kernel and firmware
  firmware/entrypoint.sh
  kernel/build.sh
  kernel/default.nix
  kernel/entrypoint.sh
Due: shellcheck

Parallel builds for kernel and firmware
  kernel/build.sh
Due: shellcheck

Enable parallel builds for kernel and firmware (#13)
  firmware/entrypoint.sh
  kernel/build.sh
  kernel/default.nix
  kernel/entrypoint.sh
Due: shellcheck

Switch to Nix Flakes
  README.md
  VERSIONS.md
  firmware/Dockerfile
  firmware/default.nix
  firmware/entrypoint.sh
  firmware/flake.lock
  firmware/flake.nix
  kernel/Dockerfile
  kernel/build.sh
  kernel/default.nix
  kernel/entrypoint.sh
  kernel/flake.lock
  kernel/flake.nix
Due: hadolint, shellcheck

SHA256 for aarch64 build
  kernel/build.sh
Due: shellcheck

Switch to Nix Flakes to improve pinning of build environment dependencies (resolves #12)
  README.md
  VERSIONS.md
  firmware/Dockerfile
  firmware/default.nix
  firmware/entrypoint.sh
  firmware/flake.lock
  firmware/flake.nix
  kernel/Dockerfile
  kernel/build.sh
  kernel/default.nix
  kernel/entrypoint.sh
  kernel/flake.lock
  kernel/flake.nix
Due: hadolint, shellcheck

Add first reproducible userland and UKI
  uki/Dockerfile
  uki/build.sh
  userland/Dockerfile
  userland/build.sh
Due: hadolint, shellcheck

Update docs and checksums
  README.md
  VERSIONS.md
  uki/build.sh
  userland/Dockerfile
  userland/build.sh
Due: hadolint, shellcheck

Heredoc attempt
  .github/workflows/build.yml
  userland/Dockerfile
Due: hadolint

Test removing Podman CLI action
  .github/workflows/build.yml
Due: none

Restore orig StageX heredoc format
  userland/Dockerfile
Due: hadolint

Deeply cursed behaviour
  .github/workflows/build.yml
Due: none

Add output hashing
  uki/build.sh
  userland/build.sh
Due: shellcheck

Add aarch64 initramfs csum
  userland/build.sh
Due: shellcheck

Add aarch64 UKI csum
  uki/build.sh
Due: shellcheck

docs
  .github/workflows/build.yml
Due: none

Add reproducible userland and UKI (resolves #4 and #5) (#15)
  .github/workflows/build.yml
  README.md
  VERSIONS.md
  uki/Dockerfile
  uki/build.sh
  userland/Dockerfile
  userland/build.sh
Due: hadolint, shellcheck

Initial stboot repro attempt
  VERSIONS.md
  stboot/Dockerfile
  stboot/build.sh
  uki/Dockerfile
  uki/build.sh
Due: hadolint, shellcheck

Make BusyBox download more robust
  stboot/build.sh
  userland/Dockerfile
Due: hadolint, shellcheck

Initial work towards reproducible stboot (#16)
  VERSIONS.md
  stboot/Dockerfile
  stboot/build.sh
  uki/Dockerfile
  uki/build.sh
  userland/Dockerfile
Due: hadolint, shellcheck

Initial pytest
  .gitignore
  README.md
  deploy/.archconfig
  deploy/fw,kernel
  deploy/fw,kernel,initramfs
  deploy/fw,kernel,initramfs,stboot
  deploy/fw,kernel,initramfs,stboot,sb-pass
  deploy/fw,kernel,initramfs,uki
  deploy/fw,kernel,initramfs,uki,sb-fail
  deploy/fw,kernel,initramfs,uki,sb-pass
  deploy/fw,kernel,initramfs,uki,sb-pass,virtio
  deploy/kernel
  deploy/kernel,initramfs
  deploy/kernel,serialonly
  deploy/microvm,kernel,initramfs,serialonly
  tests/__pycache__/test_hash_firmware.cpython-314-pytest-8.3.5.pyc
  tests/test_hash_firmware.py
Due: none

Add pytest suite
  .github/workflows/build.yml
  firmware/build.sh
  kernel/build.sh
  test-all
  tests/__pycache__/test_hash_firmware.cpython-314-pytest-8.3.5.pyc
  tests/hashes.csv
  tests/test_firmware.py
  tests/test_hash_firmware.py
  tests/test_kernel.py
  tests/test_uki.py
  tests/test_userland.py
  uki/build.sh
  userland/build.sh
Due: shellcheck

Correct pytest paths in buildscripts
  deploy/fw,kernel,initramfs,uki
  deploy/fw,kernel,initramfs,uki,sb-fail
  deploy/fw,kernel,initramfs,uki,sb-pass
  deploy/fw,kernel,initramfs,uki,sb-pass,virtio
  firmware/build.sh
  kernel/build.sh
  uki/build.sh
  userland/build.sh
Due: shellcheck

Fix architecture check in pytest
  tests/test_firmware.py
  tests/test_kernel.py
  tests/test_uki.py
  tests/test_userland.py
Due: none

Fix tests
  build-all
  tests/test_firmware.py
  tests/test_kernel.py
  tests/test_uki.py
  tests/test_userland.py
Due: none

Fix tests
  tests/test_firmware.py
  tests/test_kernel.py
  tests/test_uki.py
  tests/test_userland.py
Due: none

feat: Convert hash validation mechanism to pytest (#17)
  .github/workflows/build.yml
  .gitignore
  README.md
  build-all
  deploy/.archconfig
  deploy/fw,kernel
  deploy/fw,kernel,initramfs
  deploy/fw,kernel,initramfs,stboot
  deploy/fw,kernel,initramfs,stboot,sb-pass
  deploy/fw,kernel,initramfs,uki
  deploy/fw,kernel,initramfs,uki,sb-fail
  deploy/fw,kernel,initramfs,uki,sb-pass
  deploy/fw,kernel,initramfs,uki,sb-pass,virtio
  deploy/kernel
  deploy/kernel,initramfs
  deploy/kernel,serialonly
  deploy/microvm,kernel,initramfs,serialonly
  firmware/build.sh
  kernel/build.sh
  test-all
  tests/__pycache__/test_hash_firmware.cpython-314-pytest-8.3.5.pyc
  tests/hashes.csv
  tests/test_firmware.py
  tests/test_kernel.py
  tests/test_uki.py
  tests/test_userland.py
  uki/build.sh
  userland/build.sh
Due: shellcheck

Pull BusyBox from Debian Git
  userland/Dockerfile
Due: hadolint

Ensure we're pinning BusyBox to a specific commit
  userland/Dockerfile
Due: hadolint

Pull BusyBox from Debian Git (#18)
  userland/Dockerfile
Due: hadolint

Migrate runner image to 26.04
  .github/workflows/build.yml
Due: none

Cleanup
  tests/__pycache__/test_hash_firmware.cpython-314-pytest-8.3.5.pyc
Due: none

Use GitHub links for Alpine kernel config (Alpine GitLab is aggressively blocking bots)
  kernel/flake.nix
Due: none

Update kernel config hashes
  kernel/flake.nix
Due: none

Update kernel output hashes
  tests/hashes.csv
Due: none

Rev musl-dev package version to avoid breakage
  userland/Dockerfile
Due: hadolint

Path conditions:
  hadolint: any of: Dockerfile
  shellcheck: any of: ^.*\.sh$
